<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">Buy and Sell</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search Bar -->
      <div class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="menuType !== 'seller'">
        <form class="d-flex">
          <input class="form-control me-2" type="search" #searchInput (keyup)="searchProduct($event)"
            (blur)="hideSearch()" placeholder="Search Products" aria-label="Search" />
          <button class="btn btn-outline-success" type="button" (click)="submitSearch(searchInput.value)">
            Search
          </button>
        </form>
        <!-- Suggested Search Results -->
        <ul class="list-group position-absolute mt-2" *ngIf="searchResult">
          <li class="list-group-item" *ngFor="let item of searchResult">
            <a (mousedown)="redirectToDetails(item.id)" class="dropdown-item">{{ item.name }}</a>
          </li>
        </ul>
      </div>

      <!-- Dynamic Menu -->
      <ul class="navbar-nav ms-auto" [ngSwitch]="menuType">
        <!-- Default Menu -->
        <ng-container *ngSwitchCase="'default'">
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-auth">Seller</a>
          </li>
          <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
          <li class="nav-item">
            <a class="nav-link" routerLink="user-auth">Login/Sign-up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Cart({{ cartItems }})</a>
          </li>
        </ng-container>

        <!-- User Menu -->
        <ng-container *ngSwitchCase="'user'">
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-auth">Seller Logout1</a>
          </li>
          <li class="nav-item"><a class="nav-link" routerLink="">Home</a></li>
          <li class="nav-item">
            <a class="nav-link">{{ userName | titlecase }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="my-orders">My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="userLogout()">Logout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="cartItems > 0 ? 'cart-page' : null">Cart({{ cartItems }})</a>
          </li>
        </ng-container>

        <!-- Seller Menu -->
        <ng-container *ngSwitchCase="'seller'">
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="seller-home">List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="logout()">Seller Logout</a> <!-- Add Logout for seller -->
          </li>
          <li class="nav-item">
            <a class="nav-link">{{ sellerName | titlecase }}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
