<!-- NgbCarousel to display popular products -->
<ngb-carousel *ngIf="popularProducts">
  <ng-template ngbSlide *ngFor="let item of popularProducts">
    <div class="picsum-img-wrapper">
      <a routerLink="/details/{{item.id}}">
        <img class="product-header-image" [src]="item.image" alt="{{item.name}}">
      </a>
    </div>
    <div class="carousel-caption">
      <h3>{{item.name}}</h3>
      <p>{{item.description}}</p>
    </div>
  </ng-template>
</ngb-carousel>

<!-- Product List Section -->
<div class="product-list-wrapper mt-4">
  <h1>Trendy Products</h1>
  <div class="row">
    <div class="col-sm-3" *ngFor="let item of trendyProducts">
      <div class="product-item card">
        <img [src]="item.image" class="card-img-top" alt="{{item.name}}">
        <div class="card-body">
          <h6 class="card-title">{{item.name}}</h6>
          <p class="card-text">
            <strong>Price:</strong> {{item.price}} <br>
            <strong>Color:</strong> {{item.color}}
          </p>
        </div>
        <div class="card-footer">
          <a routerLink="/details/{{item.id}}" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
